<div class="prof">
    <div class="prof-left">
    <% if user_signed_in? && current_user == @user %>
      <div class="icon current-user-icon">
        <%= link_to edit_icon_path(current_user) do %>
          <%= image_tag @icon.icon_image, size: "150x150", alt: "ã‚¹ãƒˆãƒ¬ãƒ¼ã‚¸ã‚¢ã‚¤ã‚³ãƒ³" %>
        <% end %>
      </div>
    <% else %>
      <div class="icon">
        <%= image_tag @icon.icon_image, size: "150x150", alt: "ã‚¹ãƒˆãƒ¬ãƒ¼ã‚¸ã‚¢ã‚¤ã‚³ãƒ³" %>
      </div>
    <% end %>

        <div class="name-box">
            <p><%= @user.name %></p>
        </div>
    </div>
    <div class="user-button">
      <% if user_signed_in? && current_user != @user %>
        <!-- followã—ã¦ã„ã‚Œã°ã€ãƒ•ã‚©ãƒ­ãƒ¼è§£é™¤ãƒœã‚¿ãƒ³ã‚’è¡¨ç¤ºã•ã›ã‚‹ -->
        <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
          <div class="follow-button"><%= link_to 'ãƒ•ã‚©ãƒ­ãƒ¼è§£é™¤', [@user, :follow], method: :delete %></div>
        <% else %>
        <!-- followã—ã¦ã„ãªã‘ã‚Œã°ã€ãƒ•ã‚©ãƒ­ãƒ¼ãƒœã‚¿ãƒ³ã‚’è¡¨ç¤ºã•ã›ã‚‹ -->
          <div class="follow-button"><%= link_to 'ãƒ•ã‚©ãƒ­ãƒ¼', [@user, :follow], method: :post %></div>
        <% end %>
      <% else %>
        <div class="edit-button"><%= link_to "ç·¨é›†", edit_user_path %></div>
      <% end %>
    </div>
</div>
<div>
    <p class="introduction"><%= @user.introduction %></p>
</div>



  


<div class="follow">

    <div class="follow-left">
        <div class="follow-you">
            <p><%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼ä¸€è¦§", [@user, :followings] %></p>
        </div>
        <div class="follow-me">
            <p><%= link_to "ãƒ•ã‚©ãƒ­ãƒ¯ãƒ¼ä¸€è¦§", [@user, :followers] %></p>
        </div>
    </div>
    <p class="birthday">ðŸŽˆèª•ç”Ÿæ—¥ï¼š<%= @user.birthday %></p>
</div>
<div class="user-content">
    <div class="bkm">
        <div class="bkuma-button"><%= link_to "ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ä¸€è¦§", [@user, :bookmarks] %></div>
    </div>
    <div class="good">
        <%= link_to "ã„ã„ã­", [@user, :likes] %>
    </div>
</div>

<%# user çµ‚ã‚ã‚Š%>

<!-- æŠ•ç¨¿ç”»é¢ã¸ -->
<%# <% if user_signed_in? && current_user == @user %> 
 <%#  <div class="post">
    <%= link_to "æ–°ã—ã„å†™çœŸã‚’æŠ•ç¨¿ã™ã‚‹", new_photo_path %>
  <%# </div>
<% end %>

<!-- æŠ•ç¨¿ã—ãŸå†™çœŸã‚’è¡¨ç¤ºã•ã›ã‚‹ -->
 <h2>æŠ•ç¨¿ä¸€è¦§</h2>
  <% @user.photos.order(created_at: :desc).each do |photo| %>
  <div class="toukou">
    <div class="photo">
      <%= link_to [photo] do %>
        <%= image_tag photo.image %>
        <div class="caption"><%= photo.caption %></div>
      <% end %>
    </div>
  </div>  
  <% end %>
