<h1>するめのindex</h1>

<%= link_to "するめのindex", talking_squids_path %>
<%= link_to "するめのnew", new_talking_squid_path %>


<h2>あぶ履歴一覧</h2>

<div class="toolbar"><%= link_to "新規登録", new_talking_squid_path %></div>

<% if @surumes.present? %>
  <table class="lists">
    <thead>
      <tr>
        <th>炙りメニュー</th>
        <th>操作</th>

      </tr>
    </thead>

    <tbody>
      <% @surumes.each do |surume| %>
        <tr>
          <td><%= link_to surume.comment, talking_squid_path(surume) %></td>
          <td><%= link_to "編集", edit_talking_squid_path(surume) %> <%#= link_to "削除", talking_squid_path(surume), method: :delete, data: { confirm: "本当に削除しますか"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>炙っていないようです。</p>
<% end %>

<%= link_to "TOPへ", root_path %>